<IfModule mod_rewrite.c>
    RewriteEngine On
    DirectoryIndex index.php

    RewriteRule ^public/ - [L]
    RewriteCond C:/xampp1/htdocs/OurFamilyFarm/public/$1 -f
    RewriteRule ^(.+)$ public/$1 [L]
    RewriteRule ^$ index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php/$1 [L]

</IfModule>
