<IfModule mod_rewrite.c>
    RewriteEngine On
    DirectoryIndex index.php

    RewriteRule ^public/?$ ./ [R=301,L]
    RewriteRule ^public/(.*)$ $1 [R=301,L,NE]
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
    RewriteRule ^(.+)$ public/$1 [L]
    RewriteRule ^$ index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php/$1 [L]

</IfModule>
